h1 {
color: white; 
text-align: center;
font-size: 300%;
}

p {
color: white;
font-size: 120%;
}

#intro {
background-color: white;
}

h3 {
color: white;
font-size: 140%;
}

ul {
color: white;
font-size: 120%
}

#border {
border-top: double white;
}